<label for="colors">Colors</label>
<table>
  <td>
    <select [(ngModel)]="selectedColorId" name="colors" id="colors">
      <option  *ngFor="let color of colors" value ="{{ color.colorId }}">{{color.name}}</option>
    </select>
  </td>
  <td></td>
  <td>
    <button *ngIf="selectedColorId" routerLink = "/cars/color/{{selectedColorId}}" type="button" class="btn btn-info">Filter</button>
  </td>
  <td></td>
  <td>
    <button routerLink = "/colors/update" type="button" class="btn btn-info">Update</button>
  </td>
</table>


