<div align="center"  *ngFor="let image of carImages">
        
    <img src="{{basePath}}{{image.imagePath}}" width="400px" height="250px" >

</div>
<table class="table">
    
        <tr>
            
            <th>CarName</th>
            <th>BrandName</th>
            <th>FindexPoints</th>
            <th>ColorName</th>
            <th>ModelYear</th>
            <th>DailyPrice</th>
            <th>Description</th>
            <th>State</th>
            
        </tr>
    
    <tr>
       
        <td>{{currentCarDto.carName}}</td>
        <td>{{currentCarDto.brandName}}</td>
        <td>{{currentCarDto.findexPoints}}</td>
        <td>{{currentCarDto.colorName}}</td>
        <td>{{currentCarDto.modelYear}}</td>
        <td>{{currentCarDto.dailyPrice}}</td>
        <td>{{currentCarDto.description}}</td>
        <td>{{rentalState}}</td>
    </tr>
    

    
</table>
    <label for="start">Start date:</label>
    <input [(ngModel)]="startDate" type="date" id="start" name="trip-start"  required>
      
    <label for="finish">Finish date:</label>
     <input [(ngModel)]="finishDate" type="date" id="finish" name="trip-finish"  required >

     <div align="center">
         <br>
        <button  (click) = "rentCheck()"  type="button" class="btn btn-info"><h2>Rent</h2></button>
     </div>
     
