<form action="">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <h3 class="text-center">Payment Details</h3>
            <img
              class="img-responsive cc-img"
              src="http://www.prepbootstrap.com/Content/images/shared/misc/creditcardicons.png"
            />
          </div>
        </div>
        <div class="panel-body">
          <form role="form" [formGroup]="creditCardAddForm">
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="cardNumber">CARD NUMBER</label>
                  <div class="input-group">
                    <input formControlName="cardNumber"
                    id= "cardNumber"
                      type="text"
                      class="form-control"
                      placeholder="Valid Card Number"
                      name="cardNumber"
                      minlength="16"
                      maxlength="16"
                    />
                    <span class="input-group-addon"
                      ><span class="fa fa-credit-card"></span
                    ></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-7 col-md-7">
                <div class="form-group">
                  <label for = "expirationDay"
                    ><span class="hidden-xs">EXPIRATION</span
                    ><span class="visible-xs-inline">EXP</span> DATE</label
                  >
                  <input formControlName="expirationDate"
                    type="text"
                    id = "expirationDay"
                    minlength="5"
                    maxlength="5"
                    class="form-control"
                    placeholder="MM/YY"
                    name="expirationDate"
                  />
                </div>
              </div>
              <div class="col-xs-5 col-md-5 pull-right">
                <div class="form-group">
                  <label for="cvc">CV CODE</label>
                  <input formControlName="cvc" id="cvc" type="text" class="form-control" placeholder="CVC" minlength="3" maxlength="3" name="cvc"/>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="cardOwner">CARD OWNER</label>
                  <input formControlName="cardOwner"
                    type="text"
                    id="cardOwner"
                    class="form-control"
                    placeholder="Card Owner Names"
                    name="cardOwner"
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-xs-12">
              <button (click)="processPayment()" class="btn btn-warning btn-lg btn-block">
                Process payment
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</form>
<style>
  .cc-img {
    margin: 0 auto;
  }
</style>
