<div class="mb-3">
    <label for="filterText" class="form-label">Search Product</label>
    <input type="text" [(ngModel)] ="filterText" class="form-control" id="filterText" placeholder="Search">
  </div>
  <div *ngIf = "filterText.length>2" class = "alert alert-success">
      You searched {{filterText}}
  </div>
<table class = "table">
    <thead>
        <tr>
            <th>Id</th>
            <th>CarName</th>
            <th>BrandName</th>
            <th>ColorName</th>
            <th>ModelYear</th>
            <th>DailyPrice</th>
            <th>Description</th>
            
        </tr>
    </thead>
    <tr (click)="setCurrentCarDto(carDto)" routerLink = "/cars/{{carDto.carId}}" *ngFor="let carDto of carDtos | filterPipe:filterText">
        <td>{{carDto.carId}}</td>
        <td>{{carDto.carName}}</td>
        <td>{{carDto.brandName}}</td>
        <td>{{carDto.colorName}}</td>
        <td>{{carDto.modelYear}}</td>
        <td>{{carDto.dailyPrice}}</td>
        <td>{{carDto.description}}</td>

    </tr>
  </table>