<div class="content">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header"><h5 class="title">Update Car</h5></div>
        <div class="card-body">
          <form [formGroup]="carUpdateForm">
            <div class="mb-3">
              <label for="carId">Car Id</label>
              <div class="form-group">
                <input
                  type="text"
                  id="carId"
                  formControlName="carId"
                  class="form-control"
                  placeholder="{{currentCarDto.carId}}"
                  readonly
                />
              </div>
            </div>
            <div class="mb-3">
              <label for="carName">Car Name</label>
              <div class="form-group">
                <input
                  type="text"
                  id="carName"
                  formControlName="carName"
                  class="form-control"
                  placeholder="Car name"
                />
              </div>
            </div>
            <div class="mb-3">
              <label for="brandId">Brand Id</label>
              <div class="form-group">
                <input
                  type="number"
                  id="brandId"
                  formControlName="brandId"
                  class="form-control"
                  placeholder="Brand id"
                />
              </div>
            </div>
            <div class="mb-3">
              <label for="findexPoints">Findex Points</label>
              <div class="form-group">
                <input
                  type="number"
                  id="findexPoints"
                  formControlName="findexPoints"
                  class="form-control"
                  placeholder="Findex Points"
                />
              </div>
            </div>
            <div class="mb-3">
              <label for="colorId">Color Id</label>
              <div class="form-group">
                <input
                  type="number"
                  id="colorId"
                  formControlName="colorId"
                  class="form-control"
                  placeholder="Color id"
                />
              </div>
            </div>
            <div class="mb-3"> 
              <label for="carName">Car Name</label>
              <div class="form-group">
                <input
                  type="string"
                  id="carName"
                  formControlName="carName"
                  class="form-control"
                  placeholder="Car name"
                />
              </div>
            </div>
              <div class="mb-3">
                <label for="modelYear">Model Year</label>
                <div class="form-group">
                  <input
                    type="string"
                    id="modelYear"
                    formControlName="modelYear"
                    class="form-control"
                    placeholder="Model Year"
                  />
                </div>
              </div>
              <div class="mb-3">
                <label for="dailyPrice">Daily Price</label>
                <div class="form-group">
                  <input
                    type="number"
                    id="dailyPrice"
                    formControlName="dailyPrice"
                    class="form-control"
                    placeholder="Daily price"
                  />
                </div>
              </div>
              <div class="mb-3">
                <label for="description">Description</label>
                <div class="form-group">
                  <input
                    type="string"
                    id="description"
                    formControlName="description"
                    class="form-control"
                    placeholder="Description"
                  />
                </div>
              </div>
          </form>
        </div>
        <div class="card-footer">
          <button class="btn btn-fill btn-primary" (click)="update()" >Update</button>
        </div>
      </div>
    </div>
  </div>
  

